form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #EAEAEA;
  width: 100%;
}
form .location {
  display: flex;
  align-items: center;
  position: relative;
}
form .location i {
  position: absolute;
  color: #353535;
  font-size: 14px;
  margin-right: 5px;
}
form .location .input-field {
  display: flex;
  flex: 1;
  text-align: center;
  color: #353535;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 0;
}

.input-field::placeholder {
  color: #353535;
  opacity: 1;
}

.location > .input-field {
  background-color: #EAEAEA;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  padding: 20px;
  margin: 0;
}
.hero-section h1 {
  font-size: 24px;
}
.hero-section p {
  font-size: 18px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F6F6F6;
  margin-top: 40px;
}
.restaurants .restaurants__title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
  padding-top: 40px;
}
.restaurants .restaurants__cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18px;
  margin: 17px;
}

.restaurant__card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: white;
  text-decoration: none;
  flex: 1;
}
.restaurant__card .restaurant__card--image {
  position: relative;
}
.restaurant__card .restaurant__card--image .badge {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 14px;
  border-radius: 2px;
  height: 29px;
  width: 80px;
  color: #008766;
  background-color: #99E2D0;
  right: 10px;
  top: 10px;
}
.restaurant__card .restaurant__card--image img {
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 173px;
  width: 100%;
}
.restaurant__card .restaurant__card--content {
  display: flex;
  flex-direction: row;
  color: black;
}
.restaurant__card .restaurant__card--content .content-txt {
  flex-direction: column;
  padding: 8px 13px;
  text-decoration: none;
}
.restaurant__card .restaurant__card--content .content-txt h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}
.restaurant__card .restaurant__card--content .content-txt p {
  font-size: 17px;
  margin-top: 5px;
}
.restaurant__card .restaurant__card--content .card-like {
  border: 1px;
  margin-left: auto;
  margin-top: 30px;
  font-size: 24px;
  cursor: pointer;
}

/****** Media queries ***********/
@media screen and (min-width: 1024px) {
  .hero-section h1 {
    font-size: 40px;
  }
  .restaurants {
    padding: 0 180px 20px 180px;
  }
  .restaurants .restaurants__cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurants .restaurants__cards a {
    flex: 45% 0 0;
  }
}
.hero-section__button,
.commander__button {
  color: white;
  background-image: linear-gradient(175deg, #FF79DA, #9356DC);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  transition: 1.5s;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  padding: 13px 18px;
  font-size: 16px;
  margin: 20px 30px 30px;
  opacity: 1;
}
.hero-section__button:hover,
.commander__button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.55);
  opacity: 0.7;
}

.commander-section {
  display: flex;
  justify-content: center;
}
.commander-section .commander__button,
.commander-section .hero-section__button {
  padding: 16px 49px;
}

.fonctionnement-buttons,
.menu-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.fonctionnement-buttons .button-container,
.menu-buttons .button-container {
  position: relative;
  margin: 20px;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 95%;
}
.fonctionnement-buttons .button-container .button-container--number,
.menu-buttons .button-container .button-container--number {
  position: absolute;
  left: 2%;
  bottom: 32%;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;
}
.fonctionnement-buttons .button-container .button-container--price,
.menu-buttons .button-container .button-container--price {
  position: absolute;
  right: 5%;
  bottom: 20%;
  font-size: 15px;
  font-weight: bold;
}

.fonctionnement__button {
  border-radius: 20px;
  font-size: 16px;
  background-color: #F6F6F6;
  padding: 14px 50px 14px 19px;
  height: 72px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: 3px #D9D9D9;
  width: 92%;
  margin-left: 20px;
  cursor: pointer;
}
.fonctionnement__button .fa-solid {
  color: #7E7E7E;
  padding-left: 18px;
  padding-right: 20px;
  transition: color 0.3s;
}

.fonctionnement__button:hover .fa-solid {
  color: #9356DC;
}

.menu-button-container {
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.menu-button-container .button-container--wrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  background-color: #99E2D0;
}
.menu-button-container .button-container--wrapper .button-extension {
  width: 59px;
  height: 69px;
  background-color: #99E2D0;
  display: none;
  text-align: center;
}
.menu-button-container .button-container--wrapper .button-extension .checkmark {
  padding: 22px 14px;
  color: white;
  border: none;
  font-size: 20px;
}
.menu-button-container .button-container--wrapper .button-container--price {
  margin-left: auto;
  z-index: 1;
}
.menu-button-container .button-container--wrapper:hover {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-button-container .button-container--wrapper:hover .button-container--price {
  transform: translateX(-40px);
  transition: transform 0.8s ease;
}
.menu-button-container .button-container--wrapper:hover .menu__button {
  border-radius: 20px 0 0 20px;
}
.menu-button-container .button-container--wrapper:hover .titre,
.menu-button-container .button-container--wrapper:hover .sous-titre {
  width: calc(100% - 40px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-button-container .button-container--wrapper:hover .button-extension {
  display: inline-block;
  opacity: 1;
  z-index: 1;
  animation: 0.8s progress;
}
@keyframes progress {
  from {
    margin-right: -10px;
  }
  to {
    margin-right: 0px;
  }
}

.menu__button {
  border-radius: 20px;
  font-size: 16px;
  background-color: white;
  padding: 14px 50px 14px 19px;
  height: auto;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: 1px solid #D9D9D9;
  cursor: pointer;
  text-align: left;
}
.menu__button span {
  display: block;
}
.menu__button .titre {
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__button .sous-titre {
  font-size: 15px;
  padding-top: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/****** Media queries ***********/
@media screen and (min-width: 1024px) {
  .fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 180px;
  }
  .fonctionnement .fonctionnement-buttons {
    flex-direction: row;
  }
  .menu-section {
    margin: 20px 180px;
  }
  .menu-section .menu-entrees,
  .menu-section .menu-plats {
    margin-bottom: 20px;
  }
}
.image-menu {
  object-fit: cover;
  height: 275px;
  width: 100%;
}

.restaurant-menu {
  background-color: #F6F6F6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  width: 100%;
  margin-top: -10%;
}
.restaurant-menu .menu-title {
  display: flex;
  align-items: center;
}
.restaurant-menu .menu-title .title {
  font-size: 28px;
  padding-left: 17px;
  margin-top: 30px;
  margin-right: 20px;
}
.restaurant-menu .menu-title .card-like {
  font-size: 24px;
  cursor: pointer;
  margin-left: auto;
}

.menu-entrees {
  animation: appear 0.5s 0.5s both;
}

.menu-plats {
  animation: appear 0.5s 1.5s both;
}

.menu-desserts {
  animation: appear 0.5s 2.5s both;
}

@keyframes appear {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/****** Media queries ***********/
@media screen and (min-width: 1024px) {
  .restaurant-menu {
    width: 80%;
    margin: 0 auto;
    margin-top: -5%;
  }
  .restaurant-menu .menu-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .restaurant-menu .menu-title .title {
    font-size: 28px;
    margin-top: 20px;
    text-align: center;
  }
  .restaurant-menu .menu-title .card-like {
    font-size: 24px;
    margin-left: 0;
  }
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.title {
  font-family: "Shrikhand", serif;
}

a {
  text-decoration: none;
}

.fonctionnement,
.menu-section {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.fonctionnement .fonctionnement__label,
.menu-section .fonctionnement__label {
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
}
.fonctionnement .menu__label,
.menu-section .menu__label {
  display: block;
  font-size: 16px;
  margin: 10px;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  padding-bottom: 5px;
}

.card-like .heart-empty,
.card-like .heart-full {
  transition: opacity 0.8s;
}
.card-like .heart-full {
  opacity: 0;
}
.card-like .heart-full:hover {
  opacity: 1;
  color: transparent;
  background-image: linear-gradient(37deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  background-color: #353535;
  padding: 22px 25px;
}
.footer-section .title {
  font-size: 18px;
  color: white;
}
.footer-section .links {
  display: flex;
}
.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 16px 0;
}
.footer-section ul li {
  padding-top: 7px;
  font-size: 16px;
}
.footer-section ul li a {
  color: white;
}
.footer-section ul li .fa-solid {
  padding-right: 10px;
}
.footer-section ul li .fa-solid.fa-utensils {
  font-size: 13px;
}
.footer-section ul li .fa-solid.fa-handshake-angle {
  font-size: 10px;
}

/****** Media queries ***********/
@media screen and (min-width: 1024px) {
  .footer-section {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .footer-section .title {
    display: flex;
    align-items: center;
    padding: 0 50px;
  }
  .footer-section .links {
    justify-content: flex-end;
    width: 100%;
    padding-right: 50px;
  }
  .footer-section ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
header .header__container--arrow {
  display: none;
  font-size: 30px;
}
header .header__container img {
  width: 197px;
  height: 36px;
  padding: 14px 70px;
}

.header-restaurants {
  display: flex;
  flex-direction: row;
}
.header-restaurants .header__container--arrow {
  display: flex;
  padding-left: 7px;
}
.header-restaurants .header__container--arrow a {
  color: #353535;
}

/****** Media queries ***********/
@media screen and (min-width: 1024px) {
  .header-restaurants .header__container--arrow {
    display: flex;
    padding-left: 20px;
  }
  .header-restaurants .header__container--image {
    display: flex;
    justify-content: center;
    flex: 100%;
  }
  .header-restaurants img {
    margin: 0 auto;
    width: 30%;
  }
}
.content-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1000;
  animation: fadeInOut 1.8s linear;
}

.content-overlay::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.loader {
  position: fixed;
  left: 35%;
  top: 20%;
  z-index: 1;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #99E2D0;
  width: 80px;
  height: 80px;
  animation: spin 3s linear forwards, fadeOut 1.5s 1s forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/****** Media queries ***********/
@media screen and (min-width: 1024px) {
  .loader {
    left: 45%;
    top: 40%;
    width: 120px;
    height: 120px;
  }
}

/*# sourceMappingURL=main.css.map */
