
body {
    font-family: $font-principal;
    margin: 0;
}

.title {
    font-family: $font-title;
}

a {
    text-decoration: none;
}


.fonctionnement,
.menu-section {
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    .fonctionnement__label {
        font-size: 24px;
        font-weight: bold;
        margin: 20px;
    }

    .menu__label {
        display: block;
        font-size: 16px;
        margin: 10px;
        border-bottom: 3px solid $thirdColor;
        width: 40px;
        padding-bottom: 5px;
    }
}


/****** Media queries ***********/

