
body {
    font-family: $font-principal;
    margin: 0;
}

.title {
    font-family: $font-title;
}

a {
    text-decoration: none;
}

.header__container--arrow {
    padding: 17px;
    font-size: 30px;
}