header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .header__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;

        &--arrow {
            display: none;
            font-size: 30px;
        }
    
        img {
            width: 40%;
            padding: 14px 70px;
            display: flex;
            justify-content: center;
        }
    }
}

.header-restaurants {
    display: flex;
    flex-direction: row;

    .header__container--arrow {
        display: flex;
        padding-left: 7px;

        a {
            color: #353535;
        }
    }

    img {
        display: flex;
        justify-content: center;
    }
}

/****** Media queries ***********/

@media screen and (min-width: 1024px) {
    .header-restaurants {

        .header__container--arrow {
            display: flex;
            padding-left: 3px;
            font-size: 50px;
            }

        img {
            margin: 0 auto;
        }
    
    }
}
