.image-menu {
    object-fit: cover;
    height: 275px;
    width: 100%;
    position: absolute;
}

.restaurant-menu {
    background-color: #F6F6F6;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: relative;
    top: 230px;
    width: 100%;

    .menu-title {
        display: flex;
        flex-direction: row;
        position: relative;
    
        .title {
            font-size: 28px;
            padding-left: 17px;
            margin-top: 20px;
        }
    
        .card-like {
            position: absolute;
            right: 10%;
            bottom: 10%;
            font-size: 24px;
        }
    }
}

