.image-menu {
    object-fit: cover;
    height: 275px;
    width: 100%;
}

.restaurant-menu {
    background-color: #F6F6F6;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: relative;
    width: 100%;
    margin-top: -10%;

    .menu-title {
        display: flex;
        flex-direction: row;
        position: relative;
    
        .title {
            font-size: 28px;
            padding-left: 17px;
            margin-top: 30px;
        }
    
        .card-like {     
            font-size: 24px;
            cursor: pointer;

            i {
                right: 50px;
                bottom: 30px;
            }
        }
    }
}

$menu-entrees-delay: 0.5s;
$menu-plats-delay: 1.5s;
$menu-desserts-delay: 2.5s;


.menu-entrees {
    animation: appear 0.5s $menu-entrees-delay both;
}

.menu-plats {
    animation: appear 0.5s $menu-plats-delay both;
}

.menu-desserts {
    animation: appear 0.5s $menu-desserts-delay both;
}

@keyframes appear {
    0% {transform: scale(0.5); opacity: 0; }
    100% {transform: scale(1); opacity: 1; }
}

/****** Media queries ***********/

@media screen and (min-width: 1024px) {
    .restaurant-menu {
        width: 80%;
        margin: 0 auto;
        margin-top: -5%;

        .menu-title {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        
            .title {
                font-size: 28px;
                margin-top: 20px;
                text-align: center;
            }
        
            .card-like {
                font-size: 24px;

                i {
                    right: 380px;
                }
            }
        }
    }
}