$font-principal: 'Roboto', sans-serif;
$font-title: 'Shrikhand', serif;

$mainColor: #9356DC;
$secondColor: #FF79DA;
$thirdColor: #99E2D0;
$backgroundColor: #fcc0ce;
$blueColor: #003A68;
$light-blueColor: #89C8FA;
$green-fontColor: #008766;



    
