$font-principal: 'Roboto', sans-serif;

body {
    font-family: $font-principal;
}


:root {
    --main-color: #9356DC;
    --blue: #003A68;
    --light-blue: #89C8FA;
    --second-color: #FF79DA;
    --third-color: #99E2D0;
    --green-font: #008766;
    --bg-color: #fcc0ce;
}

body {
    font-family: 'Roboto', sans-serif;
}
    
